main{
    display: flex;
    flex-direction: column;
    width: 100%;
    .post{
        background-color: black;
        width: 100%;
        h1{
            width: 1.5rem;
            color: white;
            margin: 20px;
        }
    }
    
    .banner{
        width: 100%;
        height: 20vh;
        background-color: rgba(2, 130, 249, 1);
    }
}