
img{
    width: 100px;
    height: 100px;
    }

nav{
    background-color: silver;
    text-align: center;
}

section > h2{
    color: orange;
    font-size: 22px;
}

section p{
    font-size: 20px;
}

hr{
    border-color: orange;
}

body{
    background-color: lightblue;
}

main{
    padding: 8px;
}

