body{
    background: rgb(0, 0, 17);
}

.contenitore{
    background: red;
    width: 1000px;
    height: 500px;   
}

.quadrato_blu{
    background: blue;
    width: 100px;
    height: 100px;    
}

.quadrato_verde{
    position: absolute;
    bottom: 0;
    right: 0;
    background:green;
    width: 100px;
    height: 100px;    
}